<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/AdminCategory.css">
    <title>Baby Category</title>
</head>
<body>
 
    <div class="navbar">
        <a href="/admin" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>

        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="categories">
            <a href="/AdminWomen" class="category active">Women</a>
            <a href="/AdminMen" class="category">Men</a>
            <a href="/AdminGirls" class="category">Girls</a>
            <a href="/AdminBoys" class="category">Boys</a>
            <a href="/AdminBaby" class="category">Baby</a>
            <a href="/AdminHome" class="category">Home</a> 
        </div>
        </div>
            
        <div class="subcategories">
            <div class="subcategory"><a href="adminBabyProducts.html?category=sleepsuits"><img src="/Images/AdminBBsleepsuit.png" alt="sleepsuit"></a><h2>Sleepsuits</h2> </div>
            <div class="subcategory"><a href="adminBabyProducts.html?category=bodysuits"><img src="/Images/AdminBBbodysuit.png" alt="bodysuit"></a><h2>Bodysuits</h2></div>

            <div class="subcategory"><a href="adminBabyProducts.html?category=tops"><img src="/Images/AdminBtop.png" alt="top"></a><h2>Tops</h2></div>
            <div class="subcategory"><a href="adminBabyProducts.html?category=bottoms"><img src="/Images/AdminBbottom.png" alt="bottom"></a><h2>Bottoms</h2></div>
            <div class="subcategory"><a href="adminBabyProducts.html?category=outerwear"><img src="/Images/AdminBBjacket.png" alt="jacket"></a><h2>OuterWear</h2></div>
            <div class="subcategory"><a href="adminBabyProducts.html?category=costume"><img src="/Images/AdminBBcostume.png" alt="costume"></a><h2>Costume</h2></div>
            <div class="subcategory"><a href="adminBabyProducts.html?category=shoes"><img src="/Images/AdminBBshoes.png" alt="shoes"></a><h2>Shoes</h2></div>
            <div class="subcategory"><a href="adminBabyProducts.html?category=accessories"><img src="/Images/AdminBBaccessories.png" alt="accessories"></a><h2>Accessories</h2></div>

    
        </div>
    </div>


</body>
</html>
