<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="/Css/aboutus.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        </style>
</head>
<body>
<div class="content">
<div class="container1">
<div class="text1">
    <h1 class="start">At Second Chance <br> our priority is <br> sustainable fashion future.</h1><br>
    <p class="second">We believe that thrifting is more than just finding great deals and discounts on your favorite brands.<br> It's also about shopping with the intention of being sustainable, and at Second Chance we've provided both. </p>
</div>
<div class="image">
    <img src="/Images/imgaboutus1.jpg" alt="About Us">
</div>


<img  class="circle " src="/Images/circle1.png" alt="circle1">
<img class="circle2" src="/Images/circle1.png" alt="circle2">
<img class="line1" src="/Images/line1.png" alt="line">


</div>


</div>
<h2 class="sustainability">How We Help Fix Fashion Waste</h2><br>
<p class="resell">Reselling our clothes takes us </p>
<p class="resell">a step closer to a circular fashion future.</p>

<div class="text2">


<h2 class="clothing">Perfectly good clothing is being discarded everyday</h2>
<p class="text3">That's why our goal is to decrease this amount</p>
<p class="text3">by a significant amount.</p>
<img class="hanger2" src="/Images/hangericon1.png" alt="hanger">
<img class="sparkel" src="/Images/sparkel.png" alt="sparkel">

</div>

<div class="container2">
<div class="text4">
<h3 class="title">OUR STORY</h3>
<p class="story">In 2020 it started out as a fun project between five friends and would <br> later on in 2024 become a rising success. Second Chance to our <br>co-founders was a high school senior project and at that time they<br> couldn't have anticipated how important it would be to them. <br>After graduation they wanted to try to make the project idea real,<br> and since Egypt doesn't have thrifting stores like west it was easily <br>a unique idea that attracted many customers. A small business <br>started from there and the brand kept on growing attracting more people each day. </p>
</div>
<div class="image2">
    <img src="/Images/storyimg2.jpg" alt="story">
</div>

<img class="circle4 " src="/Images/circle4.png" alt="circle">
<img class="circle5 " src="/Images/circle5.png" alt="circle">
<img class="line3 " src="/Images/line3.png" alt="line">
</div>
</div>

</body>
</html>