<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/AdminCategory.css">

    <title>Men Category</title>

</head>
<body>
 
    < <div class="navbar">
        <a href="/admin" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>

        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="categories">
            <a href="/AdminWomen" class="category active">Women</a>
            <a href="/AdminMen" class="category">Men</a>
            <a href="/AdminGirls" class="category">Girls</a>
            <a href="/AdminBoys" class="category">Boys</a>
            <a href="/AdminBaby" class="category">Baby</a>
            <a href="/AdminHome" class="category">Home</a> 
        </div>
        </div>
            
        <div class="subcategories">
            <div class="subcategory"> <a href="AdminMenproducts.html?category=tops"><img src="/Images/AdminMTop.png" alt="tops"></a> <h2>Tops</h2> </div>
           <div class="subcategory"> <a href="AdminMenproducts.html?category=bottoms"><img src="/Images/AdminBottom.png" alt="bottoms"></a><h2>Bottoms</h2></div>
           <div class="subcategory"><a href="AdminMenproducts.html?category=jackets"><img src="/Images/AdminMenjacket.png" alt="jackets"></a><h2>Jackets & Coats</h2></div>
           <div class="subcategory"> <a href="AdminMenproducts.html?category=sports"> <img src="/Images/AdminSports.png" alt="sportswear"></a><h2>SportsWear</h2></div>
            <div class="subcategory"> <a href="AdminMenproducts.html?category=shoes"><img src="/Images/AdminShoes.png" alt="shoes"></a><h2>Shoes</h2></div>
           <div class="subcategory"><a href="AdminMenproducts.html?category=bags"><img src="/Images/AdminMbag.png" alt="bags"></a><h2>Bags</h2></div>
           <div class="subcategory"> <a href="AdminMenproducts.html?category=accessories"><img src="/Images/AdminMaccessories.png"></a><h2>Accessories</h2></div>
    
        </div>
    
        
    </div>


</body>
</html>
