<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/AdminCategory.css">
    <title>Girls Category</title>
</head>
<body>
 
    <div class="navbar">
        <a href="/admin" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>

        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="categories">
            <a href="/AdminWomen" class="category active">Women</a>
            <a href="/AdminMen" class="category">Men</a>
            <a href="/AdminGirls" class="category">Girls</a>
            <a href="/AdminBoys" class="category">Boys</a>
            <a href="/AdminBaby" class="category">Baby</a>
            <a href="/AdminHome" class="category">Home</a> 
        </div>
        </div>
            
            
        <div class="subcategories">
            <div class="subcategory"><a href="Admingirlproducts.html?category=tops"><img src="/Images/AdminGtop.png" alt="tops"></a><h2>Tops</h2> </div>
            <div class="subcategory"><a href="Admingirlproducts.html?category=bottom"><img src="/Images/AdminGbottom.png" alt="bottoms"></a><h2>Bottoms</h2></div>
            <div class="subcategory"><a href="Admingirlproducts.html?category=dresses"><img src="/Images/AdminGdress.png" alt="dresses"></a><h2>Dresses</h2></div>
            <div class="subcategory"><a href="Admingirlproducts.html?category=jacket"><img src="/Images/AdminGjacket.png" alt="jackets & coats"></a><h2>Jackets</h2></div>
            <div class="subcategory"><a href="Admingirlproducts.html?category=sportwear"><img src="/Images/AdminGsports.png" alt="sportswear"></a><h2>SportsWear</h2></div>
            <div class="subcategory"><a href="Admingirlproducts.html?category=costumes"><img src="/Images/AdminGcostume.png" alt="costumes"></a><h2>Costumes</h2></div>
            <div class="subcategory"><a href="Admingirlproducts.html?category=shoes"><img src="/Images/AdminGshoes copy.png" alt="shoes"></a><h2>Shoes</h2></div>
            <div class="subcategory"><a href="Admingirlproducts.html?category=bags"><img src="/Images/AdminGbag.png" alt="bags"></a><h2>Bags</h2></div>
            <div class="subcategory"><a href="Admingirlproducts.html?category=accessories"><img src="/Images/AdminGaccessories.png" alt="accessories"></a><h2>Accessories</h2></div>
    
        </div>
    </div>


</body>
</html>
