<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/category.css">
    <title>Baby Category</title>
</head>
<body>

    <div class="navbar">
        <a href="/Thrifting" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>
        
        <div class="icons">
            <a href="#profile"><i class="far fa-user"></i></a>
            <a href="#Cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="#favorites"><i class="fas fa-heart"></i></a>
            <a href="search.html"><i class="fa fa-filter"></i>
        </div>
        
        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="categories">
            <a href="/categories" class="category">Women</a>
            <a href="/categories" class="category">Men</a>
            <a href="/categories" class="category">Girls</a>
            <a href="/categories" class="category">Boys</a>
            <a href="/categories" class="category">Baby</a>
            <a href="/categories" class="category">Home</a>
        </div>
        </div>
        


    <hr>
    <div class="parent-container">
    <div class="selected-category">
      <video width="100%" autoplay loop muted>
        <source src="/Videos/babyvid.mp4" type="video/mp4">
      </video>
    </div>

    <div class="subcategories">
        <div class="subcategory"><a href="baby products.html?category=sleepsuits"><img src="/Images/babysleepsuitsF.jpg" alt="sleepsuits"></a><h2>Sleepsuits</h2></div> 
         <div class="subcategory"> <a href="baby products.html?category=bodysuits"><img src="/Images/babybodysuitsF.jpg" alt="bodysuits"></a><h2>Bodysuits</h2></div>
        <div class="subcategory"><a href="baby products.html?category=tops"><img src="/Images/babytopsF.jpg" alt="tops"></a><h2>Tops</h2></div>
        <div class="subcategory"><a href="baby products.html?category=bottoms"><img src="/Images/babybottomsF.jpg" alt="bottoms"></a><h2>Bottoms</h2></div>
       <div class="subcategory"><a href="baby products.html?category=jackets"><img src="/Images/babyjacketsF.jpg" alt="jackets"></a><h2>Jackets</h2></div>
        <div class="subcategory"><a href="baby products.html?category=costumes"><img src="/Images/babycostumesF.jpg" alt="costumes"></a><h2>Costumes</h2></div>
        <div class="subcategory"> <a href="baby products.html?category=shoes"><img src="/Images/babyshoes2FF.jpg" alt="shoes"></a><h2>Shoes</h2></div>
        <div class="subcategory"><a href="baby products.html?category=accessories"><img src="/Images/babyaccessoriesF.jpg" alt="accessories"></a><h2>Accessories</h2></div>


    </div>
    </div>
 
</body>
</html> 
