<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/products.css">
    <title>Baby Products</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/Thrifting" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>
        
        <div class="icons">
            <a href="#profile"><i class="far fa-user"></i></a>
            <a href="#Cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="#favorites"><i class="fas fa-heart"></i></a>
        </div>
        
        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="categories">
            <a href="/categories" class="category">Women</a>
            <a href="/categories" class="category">Men</a>
            <a href="/categories" class="category">Girls</a>
            <a href="/categories" class="category">Boys</a>
            <a href="/categories" class="category">Baby</a>
            <a href="/categories" class="category">Home</a> 
        </div>
    </div>

    <h1>Baby Products</h1>

    <div id="products-container">
        
    
        <div class="product" data-category="accessories" onclick="showModal('/Images/bbaccessories1.PNG', ['/Images/bbaccessories1.PNG'], 'car set', '5,000 LE', 'mothercare',)">
            <img src="/Images/bbaccessories1.png" >
            <div class="product-details">
                <h2> car set</h2>
                <p>Price: 5,000 LE</p>
                <p>Brand: mothercare</p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="accessories" onclick="showModal('/Images/bbaccessories2.PNG', ['/Images/bbaccessories2.PNG'], 'pink cap', '200 LE', 'mothercare')">
            <img src="/Images/bbaccessories2.png" >
            <div class="product-details">
                <h2>pink cap </h2>
                <p>Price: 200 LE</p>
                <p>Brand: mothercare</p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    

        <div class="product" data-category="tops" onclick="showModal('/Images/bbtops1.PNG', ['/Images/bbtops1.PNG'], 'floral baby top', '350 LE', 'mothercare','3-6 Months')">
            <img src="/Images/bbtops1.png" >
            <div class="product-details">
                <h2> floral baby top</h2>
                <p>Price: 350 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 3-6 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="tops" onclick="showModal('/Images/bbtops2.PNG', ['/Images/bbtops2.PNG'], 'dinosaur t-shirt', '300 LE', 'mothercare',' 1 year')">
            <img src="/Images/bbtops2.png" >
            <div class="product-details">
                <h2>dinosaur t-shirt </h2>
                <p>Price: 300 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 1 year </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    

        <div class="product" data-category="bottoms" onclick="showModal('/Images/bbbottoms1.PNG', ['/Images/bbbottoms1.PNG'], 'floral skirt', '400 LE', 'mothercare','3-6 Months')">
            <img src="/Images/bbbottoms1.png" >
            <div class="product-details">
                <h2> floral dress</h2>
                <p>Price: 400 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 3-6 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="bottoms" onclick="showModal('/Images/bbbottoms2.PNG', ['/Images/bbbottoms2.PNG'], 'jeans short', '350 LE', 'mothercare','6-9 Months')">
            <img src="/Images/bbbottoms2.png" >
            <div class="product-details">
                <h2>jeans short </h2>
                <p>Price: 350 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 6-9 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    

        <div class="product"  data-category="bodysuits" onclick="showModal('/Images/bbbodysuit1.PNG', ['/Images/bbbodysuit1.PNG'], 'new born bodysuit', '350 LE', 'mothercare','newborn')">
            <img src="/Images/bbbodysuit1.png" >
            <div class="product-details">
                <h2> new born bodysuit</h2>
                <p>Price: 350 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: newborn </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="bodysuits" onclick="showModal('/Images/bbbodysuit2.PNG', ['/Images/bbbodysuit2.PNG'], 'yellow bodysuit', '250 LE', 'mothercare','6-9 Months')">
            <img src="/Images/bbbodysuit2.png" >
            <div class="product-details">
                <h2>yellow bodysuit</h2>
                <p>Price: 250 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 6-9 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>


        <div class="product"  data-category="sleepsuits" onclick="showModal('/Images/bbsleepsuit1.PNG', ['/Images/bbsleepsuit1.PNG'], 'turtle sleepsuit', '400 LE', 'mothercare','3-6 Months')">
            <img src="/Images/bbsleepsuit1.png" >
            <div class="product-details">
                <h2> turtle sleepsuit</h2>
                <p>Price: 400 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 3-6 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="sleepsuits" onclick="showModal('/Images/bbsleepsuit2.PNG', ['/Images/bbsleepsuit2.PNG'], 'pink stars sleepsuit', '450 LE', 'mothercare','0-3 Months')">
            <img src="/Images/bbsleepsuit2.png" >
            <div class="product-details">
                <h2>pink stars sleepsuit</h2>
                <p>Price: 450 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 0-3 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>

        <div class="product" data-category="shoes" onclick="showModal('/Images/bbshoes1.PNG', ['/Images/bbshoes1.PNG'], 'pink slipper', '400 LE', 'mothercare','3-6 Months')">
            <img src="/Images/bbshoes1.png" >
            <div class="product-details">
                <h2> pink slipper</h2>
                <p>Price: 400 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 3-6 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="shoes" onclick="showModal('/Images/bbshoes2.PNG', ['/Images/bbshoes2.PNG'], 'white shoes', '350 LE', 'mothercare','0-3 Months')">
            <img src="/Images/bbshoes2.png" >
            <div class="product-details">
                <h2>white shoes </h2>
                <p>Price: 350 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 0-3 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="jackets" onclick="showModal('/Images/bbjackets1.PNG', ['/Images/bbjackets1.PNG'], 'ballons jacket', '500 LE', 'mothercare','3-6 Months')">
            <img src="/Images/bbjackets1.png" >
            <div class="product-details">
                <h2> ballons jacket</h2>
                <p>Price: 400 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 3-6 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="jackets" onclick="showModal('/Images/bbjackets2.PNG', ['/Images/bbjackets2.PNG'], 'blue jacket', '550 LE', 'mothercare','9-12 Months')">
            <img src="/Images/bbjackets2.png" >
            <div class="product-details">
                <h2>blue jacket </h2>
                <p>Price: 550 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 9-12 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="costumes" onclick="showModal('/Images/bbcostume1.PNG', ['/Images/bbcostume1.PNG'], 'elephant costume', '500 LE', 'mothercare','3-6 Months')">
            <img src="/Images/bbcostume1.png" >
            <div class="product-details">
                <h2> elephant costume</h2>
                <p>Price: 400 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 3-6 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
        <div class="product" data-category="costumes" onclick="showModal('/Images/bbcostume2.PNG', ['/Images/bbcostume2.PNG'], 'bee costume', '550 LE', 'mothercare','6-9 Months')">
            <img src="/Images/bbcostume2.png" >
            <div class="product-details">
                <h2>blue jacket </h2>
                <p>Price: 550 LE</p>
                <p>Brand: mothercare</p>
                <p>Size: 6-9 Months </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>


    <div id="modal" class="modal" onclick="closeModal()">
        <div class="modal-content" onclick="event.stopPropagation()">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="modal-images">
                <img id="modal-img" src="" alt="">
                <div class="thumbnails" id="thumbnails"></div>
            </div>
            <div class="product-info">
                <h2 id="modal-title"></h2>
                <p id="modal-price"></p>
                <p id="modal-brand"></p>
                <p id="modal-size"></p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
            <div class="arrow-container">
                <button class="prev" onclick="changeImage(-1)">&#10094;</button>
                <button class="next" onclick="changeImage(1)">&#10095;</button>
            </div>
        </div>
    </div>

    <script src="/Js/products.js"></script>
</body>
</html>
