<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/category.css">
    <title>Boys Category</title>
</head>
<body> 

    <div class="navbar">
        <a href="/Thrifting" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>
        
        <div class="icons">
            <a href="#profile"><i class="far fa-user"></i></a>
            <a href="#Cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="#favorites"><i class="fas fa-heart"></i></a>
            <a href="search.html"><i class="fa fa-filter"></i>
        </div>
        
        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="categories">
            <a href="/categories" class="category">Women</a>
            <a href="/categories" class="category">Men</a>
            <a href="/categories" class="category">Girls</a>
            <a href="/categories" class="category">Boys</a>
            <a href="/categories" class="category">Baby</a>
            <a href="/categories" class="category">Home</a> 
        </div>
        </div>
        

    <hr>
    <div class="parent-container">
    <div class="selected-category">
       <video width="100%" autoplay loop muted>
         <source src="/Videos/boysvid3.mp4" type="video/mp4">

       </video>
    </div>

    <div class="subcategories">
        <div class="subcategory"><a href="boysproducts.html?category=tops"><img src="/Images/boystopsF.jpg" alt="tops"></a><h2>Tops</h2></div>
        <div class="subcategory"><a href="boysproducts.html?category=bottoms"><img src="/Images/boysbottomsF.jpg" alt="bottoms"></a><h2>Bottoms</h2></div>
        <div class="subcategory"><a href="boysproducts.html?category=jackets & coats"><img src="/Images/boysjacketsF.jpg" alt="jackets & coats"></a><h2>Jackets & Coats</h2></div>
        <div class="subcategory"><a href="boysproducts.html?category=sportswear"><img src="/Images/boyssportswearF.jpg" alt="sportswear"></a><h2>SportsWear</h2></div>
        <div class="subcategory"><a href="boysproducts.html?category=customes"><img src="/Images/boyscostumesF.jpg" alt="costumes"></a><h2>Costumes</h2></div>
        <div class="subcategory"><a href="boysproducts.html?category=shoes"><img src="/Images/boysshoesF.jpg" alt="shoes"></a><h2>Shoes</h2></div>
        <div class="subcategory"><a href="boysproducts.html?category=bags"><img src="/Images/boysbagF.jpg" alt="bags"></a><h2>Bags</h2></div>
        <div class="subcategory"><a href="boysproducts.html?category=accessories"><img src="/Images/boysaccessoriesF.jpg" alt="accessories"></a><h2>Accessories</h2></div>

    </div>
    </div>
    <div class="landscape-rec  landscape-rec-4"> </div>
   

   
</body>
</html>
