<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/Css/checkout.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/Css/contactus.css"> <!-- Link to your CSS file -->
    <title> Contact US </title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
      </style>
  </head>
  <body>
    
    <div class="image-backgrnd"></div>
    <div class="container">
      <div style="text-align:center">
        <h2>Contact Us</h2>
        <p>How can we help?</p>
      </div>
    <div class="container">
      <form action="action_page.php">
    
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your first name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email" placeholder="Your Email..">
    
    
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Egypt</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
          <option value="China">China</option>
          <option value="Saudi Arabia"> Saudi Arabia</option>
          <option value="lebnon">Lebnon</option>
          <option value="France">France</option>
          <option value="Greece">Greece</option>


        </select>
    
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
        <button id="submit-btn">Submit</button>
    <div id="message" style="display: none;">Your message has been sent. We'll reach out to you shortly!</div>
    <!-- Link to external JavaScript file -->
    <script src="/Js/submit.js"></script>
          <a href="/profile" id="back_btn">Back</a>
         
      
    
    
      </form>
    </div>
  </body>
 
  </html>