<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/Css/dashboard.css">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <div class="container">
        <div class="panel">
            <div class="header">
            </div>
            <div class="sidebar">
                <button class="manage-btn" onclick="toggleOptions('products')">Manage Products</button>
                <button class="manage-btn" onclick="toggleOptions('users')">Manage Users</button>
                <button class="manage-btn" onclick="toggleOptions('orders')">Manage Orders</button>
                <button class="manage-btn" onclick="toggleOptions('sales')">View Sales</button>
                <div class="bottom-element">
                    <a href="/admin" class="backButton">Back</a>
                </div> 
            </div>
            <div class="content" id="content">
                <div id="products" class="tab">
                    <div class="options">
                        <h2>Manage Products</h2>
                        <button class="option" onclick="window.location.href='manageProducts.html'">View & Manage</button>
                    </div>
                </div>
                <div id="users" class="tab">
                    <div class="options">
                        <h2>Manage Users</h2>
                        <button class="option" onclick="window.location.href='viewusers.html'">View</button>
                        <button class="option" onclick="window.location.href='removeusers.html'">Remove</button>
                        <button class="option" onclick="window.location.href=''">Add</button>
                        <button class="option" onclick="window.location.href=''">Edit</button>                        
                    </div>
                </div>
            
                <div id="orders" class="tab">
                    <div class="options">
                        <h2>Manage Orders</h2>
                        <button class="option" onclick="window.location.href='/viewOrders'">View</button>
                        <button class="option" onclick="window.location.href='/addOrder'">Add</button>
                        <button class="option" onclick="window.location.href='/editorder'">Edit</button> 
                        <button class="option" onclick="window.location.href='/removeorder'">Remove</button> 
                    </div>
                </div>
                <div id="sales" class="tab">
                    <div class="options">
                        <h2>View Sales</h2>
                        <button class="option" onclick="window.location.href='/AdminSales'">View Sales</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Js/dashboard.js"></script>
</body>
</html>
