<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/category.css">
    <title>Girls Category</title>
</head>
<body>
 
    <div class="navbar">
        <a href="Thrifting.html" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>
        
        <div class="icons">
            <a href="#profile"><i class="far fa-user"></i></a>
            <a href="#Cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="#favorites"><i class="fas fa-heart"></i></a>
            <a href="search.html"><i class="fa fa-filter"></i>
        </div>
        
        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        
        

        <div class="categories">
            <a href="categories.html" class="category">Women</a>
            <a href="categories.html" class="category">Men</a>
            <a href="categories.html" class="category">Girls</a>
            <a href="categories.html" class="category">Boys</a>
            <a href="categories.html" class="category">Baby</a>
            <a href="categories.html" class="category">Home</a> 
        </div>
        </div>
        
    <hr>
    <div class="parent-container">
    <div class="selected-category">
      <video width="100%" autoplay loop muted>
        <source src="/Videos/girlsvid.mp4" type="video/mp4">
      </video>
    </div>

    <div class="subcategories">
        <div class="subcategory"><a href="girlproducts.html?category=top"><img src="/Images/girlstopsFF.jpg" alt="tops"></a><h2>Tops</h2> </div>
        <div class="subcategory"><a href="girlproducts.html?category=bottom"><img src="/Images/girlsbottomsFF.jpg" alt="bottoms"></a><h2>Bottoms</h2></div>
        <div class="subcategory"><a href="girlproducts.html?category=dress"><img src="/Images/girlsdressesF.jpg" alt="dresses"></a><h2>Dresses</h2></div>
        <div class="subcategory"><a href="girlproducts.html?category=jacket"><img src="/Images/girlsjacketsF.jpg" alt="jackets & coats"></a><h2>Jackets & Coats</h2></div>
        <div class="subcategory"><a href="girlproducts.html?category=sportwear"><img src="/Images/girlssportswearF.jpg" alt="sportswear"></a><h2>SportsWear</h2></div>
        <div class="subcategory"><a href="girlproducts.html?category=customes"><img src="/Images/girlscostumesF.jpg" alt="costumes"></a><h2>Costumes</h2></div>
        <div class="subcategory"><a href="girlproducts.html?category=shoes"><img src="/Images/girlshsoesF (1).jpg" alt="shoes"></a><h2>Shoes</h2></div>
        <div class="subcategory"><a href="girlproducts.html?category=bag"><img src="/Images/girlsbagsF.jpg" alt="bags"></a><h2>Bags</h2></div>
        <div class="subcategory"><a href="girlproducts.html?category=accessories"><img src="/Images/girlsaccessoriesF.jpg" alt="accessories"></a><h2>Accessories</h2></div>

    </div>
    </div>
    <div class="landscape-rec  landscape-rec-3"></div>
   

   
</body>
</html>
