<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/category.css">
    <title>Home Category</title>
</head>
<body>

    <div class="navbar">
        <a href="Thrifting.html" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>
        
        <div class="icons">
            <a href="#profile"><i class="far fa-user"></i></a>
            <a href="#Cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="#favorites"><i class="fas fa-heart"></i></a>
            <a href="Views\search.html"><i class="fa fa-filter"></i>
        </div>
        
        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div> 
        <div class="categories">
            <a href="categories.html" class="category">Women</a>
            <a href="categories.html" class="category">Men</a>
            <a href="categories.html" class="category">Girls</a>
            <a href="categories.html" class="category">Boys</a>
            <a href="categories.html" class="category">Baby</a>
            <a href="categories.html" class="category">Home</a> 
        </div>
        </div>
        

    <hr>
    <div class="parent-container">
    <div class="selected-category">
        <video width="100%" autoplay loop muted >
            <source src="/Videos/homevid.mp4" type="video/mp4">
        </video>
    </div>

    <div class="subcategories">

        <div class="subcategory"><a href="home products.html?category=home fragrance"><img src="/Images/homefragranceF.jpg" alt="home fragrance"></a>Home Fragrance</h2> </div>
        <div class="subcategory"><a href="home products.html?category=Furniture"><img src="/Images/homefurnitureF.jpg" alt="Furniture"></a>Furniture</h2></div>
        <div class="subcategory"><a href="home products.html?category=dining"><img src="/Images/homediningF.jpg" alt="dining"></a>Dining</h2></div>
        <div class="subcategory"><a href="home products.html?category=kitchen"><img src="/Images/homekitchenF.jpg" alt="kitchen"></a>Kitchen</h2></div>
        <div class="subcategory"><a href="home products.html?category=bathroom"><img src="/Images/homebathF.jpg" alr="bathroom"></a>Bathroom</h2></div>
        <div class="subcategory"><a href="home products.html?category=decor"><img src="/Images/homelightingF.jpg" alt="decor"></a>Decor </h2></div>


    </div>
    </div>

</body>
</html>
