<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/products.css">
    <title>Men Products</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="Thrifting.html" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>
        
        <div class="icons">
            <a href="#profile"><i class="far fa-user"></i></a>
            <a href="#Cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="#favorites"><i class="fas fa-heart"></i></a>
        </div>
        
        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="categories">
            <a href="categories.html" class="category">Women</a>
            <a href="categories.html" class="category">Men</a>
            <a href="categories.html" class="category">Girls</a>
            <a href="categories.html" class="category">Boys</a>
            <a href="categories.html" class="category">Baby</a>
            <a href="categories.html" class="category">Home</a> 
        </div>
    </div>

    <h1>Men Products</h1>

    <div id="products-container">
        <div class="product" data-category="tops" onclick="showModal('/Images/wool vest.png', ['/Images/wool vest.png'], 'Wool Vest', '1250 LE', 'Chateau', 'Large')">
            <img src="/Images/wool vest.png">
            <div class="product-details">
                <h3>wool vest</h3>
                <p>Price: 1250 LE</p>
                <p>Brand: chateau</p>
                <p>Size: large</p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
                
            </div>
        </div>
        <div class="product" data-category="tops" onclick="showModal('/Images/tru shirt.png', ['/Images/tru shirt.png'], 'Tru Shirt', '528 LE', 'LcWakiki', 'Large')">
            <img src="/Images/tru shirt.png">
            <div class="product-details">
                <h3>trushirt</h3>
                <p>Price: 528 LE</p>
                <p>Brand: LcWakiki</p>
                <p>Size: large</p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        <div class="product" data-category="bottoms" onclick="showModal('/Images/Bershka checkered pants.png', ['/Images/Bershka checkered pants.png'], 'Checkered Pants', '688 LE', 'Bershka', '38 EUR')">
            <img src="/Images/Bershka checkered pants.PNG">
            <div class="product-details">
                <h3>checkered pants</h3>
                <p>Price: 688 LE</p>
                <p>Brand: Bershka</p>
                <p>Size: 38 EUR</p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        <div class="product" data-category="bottoms" onclick="showModal('/Images/Decked out Joggers.png', ['/Images/Decked out Joggers.png'], 'Gray Denim', '900 LE', 'Deckeout', 'Small')">
            <img src="/Images/Decked out Joggers.png">
            <div class="product-details">
                <h3>gray Denim</h3>
                <p>Price: 900 LE</p>
                <p>Brand: Deckeout</p>
                <p>Size: small</p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>

        <div class="product" data-category="jackets" onclick="showModal('/Images/the north face.png', ['/Images/the north face.png'], 'blue Jacket', '1,250 LE', 'North Face','Medium/Large')">
            <img src="/Images/the north face.png" >
            <div class="product-details">
                <h2>blue Jacket</h2>
                <p>Price: 1,250 LE</p>
                <p>Brand:North Face</p>
                <p>Size: Medium/Large </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
    
        <div class="product" data-category="jackets" onclick="showModal('/Images/ck vest.png', ['/Images/ck vest.png'], 'Blue vest', '3,375 LE', 'calvin klein','XLarge')">
            <img src="/Images/ck vest.png" >
            <div class="product-details">
                <h2>blue vest</h2>
                <p>Price: 3,375 LE</p>
                <p>Brand:calvin klein</p>
                <p>Size: XLarge </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        <div class="product" data-category="sportswear" onclick="showModal('/Images/Nike Joggers.png', ['/Images/Nike Joggers.png', '/Images/jogg2.png'], '875 LE', 'Nike','Medium/Large')">
            <img src="/Images/Nike Joggers.png" >
            <div class="product-details">
                <h2>nike Joggers</h2>
                <p>Price: 875 LE</p>
                <p>Brand:Nike</p>
                <p>Size: Medium/Large </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
    
        <div class="product" data-category="sportswear" onclick="showModal('/Images/adidas squadra.png', ['/Images/adidas squadra.png ', '/Images/squad2.png'], 'red t.shirt', '581 LE', 'Adidas','Large')">
            <img src="/Images/adidas squadra.png" >
            <div class="product-details">
                <h2>red t.shirt</h2>
                <p>Price: 581 LE</p>
                <p>Brand:Adidas</p>
                <p>Size: Large </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
    
    
    <div class="product" data-category="accessories" onclick="showModal('/Images/lc wakiki bucket hat.png', ['/Images/lc wakiki bucket hat.png','/Images/lc2.png'], ' lc wakiki bucket hat', '94 LE', 'lc waikiki')">
        <img src="/Images/lc wakiki bucket hat.png" >
        <div class="product-details">
            <h2>  bucket hat</h2>
            <p>Price:94 LE</p>
            <p>Brand:lc waikiki</p>
    
            <a href="cart.html"><button>Add To Cart</button></a>
            <a href="favorites.html"><button>Add To Favorites</button></a>
        </div>
    </div>

   
    <div class="product" data-category="accessories" onclick="showModal('/Images/Ted baker cap.png', ['/Images/Ted baker cap.png'], 'white cap', '699 LE', 'Ted baker')">
        <img src="/Images/Ted baker cap.png" >
        <div class="product-details">
            <h2> white cap</h2>
            <p>Price: 699 LE</p>
            <p>Brand:Ted baker</p>
    
            <a href="cart.html"><button>Add To Cart</button></a>
            <a href="favorites.html"><button>Add To Favorites</button></a>
        </div>
    </div>

    <div class="product" data-category="bags" onclick="showModal('/Images/kanken bag.png', ['/Images/kanken bag.png'], 'kanken bag', '530 LE', 'Fjallraven')">
        <img src="/Images/kanken bag.png" >
        <div class="product-details">
            <h2>kanken bag</h2>
            <p>Price: 530 LE</p>
            <p>Brand:Fjallraven</p>
    
            <a href="cart.html"><button>Add To Cart</button></a>
            <a href="favorites.html"><button>Add To Favorites</button></a>
        </div>
    </div>



    <div class="product" data-category="bags" onclick="showModal('/Images/blackguess bag copy.png', ['/Images/blackguess bag copy.png','/Images/guess2.png'], 'black bag', '1,125 LE', 'Guess')">
        <img src="/Images/blackguess bag copy.png" >
        <div class="product-details">
            <h2>black bag</h2>
            <p>Price: 1,125 LE</p>
            <p>Brand:Guess</p>
    
            <a href="cart.html"><button>Add To Cart</button></a>
            <a href="favorites.html"><button>Add To Favorites</button></a>
        </div>
    </div>

    <div class="product" data-category="shoes" onclick="showModal('/Images/new vans.png', ['/Images/new vans.png',  '/Images/vans2.png'], 'new vans', '2,500 LE', 'black sneakers','44.5')">
        <img src="/Images/new vans.png" >
        <div class="product-details">
            <h2>black sneakers</h2>
            <p>Price: 2,500 LE</p>
            <p>Brand:Vans </p>
            <p>Size: 44.5 </p>
            <a href="cart.html"><button>Add To Cart</button></a>
            <a href="favorites.html"><button>Add To Favorites</button></a>
        </div>
    </div>


    <div class="product" data-category="shoes" onclick="showModal('/Images/air jordan.png', ['/Images/air jordan.png', '/Images/jordan2.png'], 'air jordan', '4,375 LE', 'Nike','42.5')">
        <img src="/Images/air jordan.png" >
        <div class="product-details">
            <h2> air jordan</h2>
            <p>Price: 4,375 LE</p>
            <p>Brand:Nike </p>
            <p>Size: 42.5 </p>
            <a href="cart.html"><button>Add To Cart</button></a>
            <a href="favorites.html"><button>Add To Favorites</button></a>
        </div>
    </div>
</div>

    <div id="modal" class="modal" onclick="closeModal()">
        <div class="modal-content" onclick="event.stopPropagation()">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="modal-images">
                <img id="modal-img" src="" alt="">
                <div class="thumbnails" id="thumbnails"></div>
            </div>
            <div class="product-info">
                <h2 id="modal-title"></h2>
                <p id="modal-price"></p>
                <p id="modal-brand"></p>
                <p id="modal-size"></p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
            <div class="arrow-container">
                <button class="prev" onclick="changeImage(-1)">&#10094;</button>
                <button class="next" onclick="changeImage(1)">&#10095;</button>
            </div>
        </div>
    </div>

    <script src="/Js/products.js"></script>
</body>
</html>
