<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search for Products</title>
    <Link rel="stylesheet" href="/Css/products.css">
    <link rel="stylesheet" href="/Css/search.css"> <!-- Link to your CSS file -->
   
</head>
<body>
    
    <!-- Control buttons -->
<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('tops')"> Tops</button>
    <button class="btn" onclick="filterSelection('bottoms')"> bottoms</button>
    <button class="btn" onclick="filterSelection('dresses')"> dresses</button>
    <button class="btn" onclick="filterSelection('bags')"> bags</button>
    <button class="btn" onclick="filterSelection('accessories')"> accessories</button>
    <button class="btn" onclick="filterSelection('jackets')"> jackets</button>
    <button class="btn" onclick="filterSelection('outwear')"> outwear</button>
    <button class="btn" onclick="filterSelection('shoes')"> shoes</button>
    <button class="btn" onclick="filterSelection('sportsWear')"> sportsWear</button>
  </div>
  
  <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
  <div class="container">
    <div class="filterDiv tops">Tops
        <div class="product" onclick="showModal('/Images/yellowShirt1.jpg', ['/Images/yellowShirt1.jpg', '/Images/yellowShirt2.PNG'], 'Oversized Yellow Shirt', '350 LE', 'H&M','Medium')">
            <img src="/Images/yellowShirt1.jpg" >
            <div class="product-details">
                <h2>Yellow Shirt</h2>
                <p>Price: 350 LE</p>
                <p>Brand: H&M</p>
                <p>Size: Medium </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        </div>
    
    <div class="filterDiv tops">Tops
        <div class="product" onclick="showModal('/Images/offshoulder1.PNG', ['/Images/offshoulder1.PNG', '/Images/offshoulder2.PNG'], 'Army Offshoulder', '300 LE', 'LcWakiki','Small')">
            <img src="/Images/offshoulder1.PNG" >
            <div class="product-details">
                <h2>Army Offshoulder</h2>
                <p>Price: 300 LE</p>
                <p>Brand: LcWakiki</p>
                <p>Size: Small </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        </div>
        <div class="filterDiv tops">Tops 
            <div class="product" onclick="showModal('/Images/wool vest.jpg', ['/Images/wool vest.jpg', '/Images/wool vest.PNG'], 'wool vest', '1250 LE', 'chateau','large')">
                <img src="/Images/wool vest.png">
                <div class="product-details">
                    <h2>wool vest</h2>
                    <p>Price: 1250LE</p>
                    <p>Brand: chateau</p>
                    <p>Size: large </p>
                    <a href="cart.html"><button>Add To Cart</button></a>
                    <a href="favorites.html"><button>Add To Favorites</button></a>
                </div>
            </div>
            </div>
            <div class="filterDiv tops">Tops
                <div class="product" onclick="showModal('/Images/tru shirt.PNG', ['/Images/tru shirt.PNG', '/Images/tru shirt.PNG'], 'tru shirt', '528 LE', 'LcWakiki','large')">
                    <img src="/Images/tru shirt.png" >
                    <div class="product-details">
                        <h2>tru shirt</h2>
                        <p>Price: 528</p>
                        <p>Brand: LcWakiki</p>
                        <p>Size: large </p>
                        <a href="cart.html"><button>Add To Cart</button></a>
                        <a href="favorites.html"><button>Add To Favorites</button></a>
                    </div>
                </div>
                </div>
                </div>
    <div class="filterDiv bottoms">Bottoms
        <div class="product" onclick="showModal('/Images/wjeans1.PNG', ['/Images/wjeans1.PNG', '/Images/wjeans2.PNG'], 'Blue Denim', '500 LE', 'Zara','32 EUR')">
            <img src="/Images/wjeans1.PNG" >
            <div class="product-details">
                <h2>Blue Denim</h2>
                <p>Price: 500 LE</p>
                <p>Brand: Zara</p>
                <p>Size: 32 EUR </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
        </div>
    
    <div class="filterDiv bottoms">Bottoms 
        <div class="product" onclick="showModal('/Images/beij pants1.PNG', ['/Images/beij pants1.PNG', '/Images/beij pants2.PNG'], 'Beij Denim', '450 LE', 'Zara','34 EUR')">
            <img src="/Images/beij pants1.PNG" >
            <div class="product-details">
                <h2>Beij Denim</h2>
                <p>Price: 450 LE</p>
                <p>Brand: Zara</p>
                <p>Size: 34 EUR </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
    
    <div class="filterDiv bottoms">Bottoms
        <div class="product" onclick="showModal('/Images/Bershka checkered pants.PNG', ['/Images/Bershka checkered pants.PNG', '/Images/Bershka checkered pants.PNG'], 'checkered pants', '688 LE', 'Bershka','38 EUR')">
            <img src="/Images/Bershka checkered pants.png" >
            <div class="product-details">
                <h2> checkered pants</h2>
                <p>Price: 688 LE</p>
                <p>Brand: Bershka</p>
                <p>Size: 38 EUR </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
        </div>
    <div class="filterDiv bottoms">Bottoms
        <div class="product" onclick="showModal('/Images/Decked out Joggers.PNG', ['/Images/Decked out Joggers.PNG', '/Images/Decked out Joggers.PNG'], 'gray Denim', '900 LE', 'Deckeout','small')">
            <img src="/Images/Decked out Joggers.png" >
            <div class="product-details">
                <h2>gray Denim</h2>
                <p>Price: 900 LE</p>
                <p>Brand: Deckeout</p>
                <p>Size: small </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
        </div>
        </div>
    
    <div class="filterDiv dresses">dresses
        <div class="product" onclick="showModal('/Images/floraldress1.PNG', ['/Images/floraldress1.PNG', '/Images/floraldress2.PNG'], 'Floral Dress', '550 LE', 'Defecto','Small')">
            <img src="/Images/floraldress1.PNG" >
            <div class="product-details">
                <h2>Floral Dress</h2>
                <p>Price: 550 LE</p>
                <p>Brand: Defecto</p>
                <p>Size: Small </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        </div>
        </div>
    
    
    <div class="filterDiv dresses">dresses
        <div class="product" onclick="showModal('/Images/Ruffles pink dress1.PNG', ['/Images/Ruffles pink dress1.PNG', '/Images/Ruffles pink dress2.PNG'], 'Ruffles Pink Dress', '750 LE', 'H&M','Medium')">
            <img src="/Images/Ruffles pink dress1.PNG" >
            <div class="product-details">
                <h2>Ruffles Pink Dress</h2>
                <p>Price: 750 LE</p>
                <p>Brand: H&M</p>
                <p>Size: Medium </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
    </div>
    </div>
    <div class="filterDiv dresses">dresses
        <div class="product" onclick="showModal('/Images/short black dress1.PNG', ['/Images/short black dress1.PNG', '/Images/short black dress2.PNG'], 'Short Black Dress', '1000 LE', 'H&M','Small')">
            <img src="/Images/short black dress1.png" >
            <div class="product-details">
                <h2>Short Black Dress</h2>
                <p>Price: 1000 LE</p>
                <p>Brand: H&M</p>
                <p>Size: Small </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        </div>
        </div>
    <div class="filterDiv bags">bags
        <div class="product" onclick="showModal('/Images/blackbag1.PNG', ['/Images/blackbag1.PNG'], 'Black Guess Bag', '2,000 LE', 'guess')">
            <img src="/Images/blackbag1.PNG" >
            <div class="product-details">
                <h2>Black Guess Bag</h2>
                <p>Price: 2,000 LE</p>
                <p>Brand:guess</p>
        
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
        </div>
    </div>
  

    <div class="filterDiv bags">bags
        <div class="product" onclick="showModal('/Images/floralbag1.PNG', ['/Images/floralbag1.PNG','/Images/floralbag2.PNG'], 'Floral Bag', '700 LE', 'parfois')">
            <img src="/Images/floralbag1.PNG" >
            <div class="product-details">
                <h2>Floral Bag</h2>
                <p>Price: 700 LE</p>
                <p>Brand:parfios</p>
        
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        </div>
        
    <div class="filterDiv bags">bags
        <div class="product" onclick="showModal('/Images/crochetbag1.PNG', ['/Images/crochetbag1.PNG','/Images/crochetbag2.PNG'], 'Crochet Bag', '550 LE', 'Mango')">
            <img src="/Images/crochetbag1.PNG" >
            <div class="product-details">
                <h2>Crochet Bag</h2>
                <p>Price: 550 LE</p>
                <p>Brand:Mango</p>
        
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        </div>
    <div class="filterDiv bags">bags
        <div class="product" onclick="showModal('/Images/iys tote bag.PNG', ['/Images/iys tote bag.PNG'], 'iys tote bag', '250 LE', 'in your shoe')">
            <img src="/Images/iys tote bag.png" >
            <div class="product-details">
                <h2>brown tote</h2>
                <p>Price: 250 LE</p>
                <p>Brand:in your shoe</p>
        
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
        </div>
    

    <div class="filterDiv bags">bags
        <div class="product" onclick="showModal('/Images/kanken bag.PNG', ['/Images/kanken bag.PNG','/Images/kanken bag.PNG'], 'kanken bag', '530 LE', 'Fjallraven')">
            <img src="/Images/kanken bag.png" >
            <div class="product-details">
                <h2>kanken bag</h2>
                <p>Price: 530 LE</p>
                <p>Brand:Fjallraven</p>
        
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
    
    <div class="filterDiv bags">bags
        <div class="product" onclick="showModal('/Images/blackguess bag.PNG', ['/Images/blackguess bag.PNG','/Images/blackguess bag.PNG'], 'black bag', '1,125 LE', 'Guess')">
            <img src="/Images/blackguess bag copy.png" >
            <div class="product-details">
                <h2>black bag</h2>
                <p>Price: 1,125 LE</p>
                <p>Brand:Guess</p>
        
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        </div>
        </div>
   
    
    <div class="filterDiv jackets">jackets
    <div class="product" onclick="showModal('/Images/the north face.PNG', ['/Images/the north face.PNG', '/Images/the north face.PNG', '/Images/the north face.PNG'], 'blue Jacket', '1,250 LE', 'North Face','Medium/Large')">
        <img src="/Images/the north face.png" >
        <div class="product-details">
            <h2>blue Jacket</h2>
            <p>Price: 1,250 LE</p>
            <p>Brand:North Face</p>
            <p>Size: Medium/Large </p>
            <a href="cart.html"><button>Add To Cart</button></a>
            <button class="favorite-btn">Add to Favorites</button>
        </div>
    </div>
    </div>
    
    
    <div class="filterDiv jackets">jackets
        <div class="product" onclick="showModal('/Images/ck vest.PNG', ['/Images/ck vest.PNG', '/Images/ck vest.PNG'], 'Blue vest', '3,375 LE', 'calvin klein','XLarge')">
            <img src="/Images/ck vest.png" >
            <div class="product-details">
                <h2>blue vest</h2>
                <p>Price: 3,375 LE</p>
                <p>Brand:calvin klein</p>
                <p>Size: XLarge </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        </div>
   
    <div class="filterDiv outwear">outwear
        <div class="product" onclick="showModal('/Images/denim jacket1.PNG', ['/Images/denim jacket1.PNG', '/Images/denim jacket2.PNG', '/Images/denim jacket3.PNG'], 'Denim Jacket', '800 LE', 'Bersheka','Medium')">
            <img src="/Images/denim jacket1.PNG" >
            <div class="product-details">
                <h2>Denim Jacket</h2>
                <p>Price: 800 LE</p>
                <p>Brand:Bersheka</p>
                <p>Size: Medium </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
        </div>
      
    
    <div class="filterDiv outwear">outwear
        <div class="product" onclick="showModal('/Images/brown cardigan1.PNG', ['/Images/brown cardigan1.PNG', '/Images/brown cardigan2.PNG'], 'Brown Cardigan', '500 LE', 'defacto','free-size')">
            <img src="/Images/brown cardigan1.PNG" >
            <div class="product-details">
                <h2>Brown Cardigan</h2>
                <p>Price: 500 LE</p>
                <p>Brand:defacto</p>
                <p>Size: free-size </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <a href="favorites.html"><button>Add To Favorites</button></a>
            </div>
        </div>
        </div>
    
    <div class="filterDiv outwear">outwear
        <div class="product" onclick="showModal('/Images/grey coat1.PNG', ['/Images/grey coat1.PNG', '/Images/grey coat2.PNG'], 'grey coat1', '1,400 LE', 'Stradivarius','Small')">
            <img src="/Images/grey coat1.png" >
            <div class="product-details">
                <h2>grey coat1</h2>
                <p>Price: 1,400 LE</p>
                <p>Brand:Stradivarius</p>
                <p>Size: Small </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
   </div>
   <div class="filterDiv shoes">shoes
    <div class="product" onclick="showModal('/Images/tommy jeans sneakers1.PNG', ['/Images/tommy jeans sneakers1.PNG', '/Images/Tommy Jeans Sneakers2.PNG', '/Images/tommy jeans sneakers3.PNG'], 'tommy jeans sneakers', '2,200 LE', 'tommy jeans','38')">
        <img src="/Images/tommy jeans sneakers1.PNG" >
        <div class="product-details">
            <h2>Tommy Jeans Sneakers</h2>
            <p>Price: 2,200 LE</p>
            <p>Brand:tommy jeans </p>
            <p>Size: 38 </p>
            <a href="cart.html"><button>Add To Cart</button></a>
            <button class="favorite-btn">Add to Favorites</button>
        </div>
    </div>
    </div>
    
    

    <div class="filterDiv shoes">shoes
        <div class="product" onclick="showModal('/Images/Leather Chunky Loafers1.PNG', ['/Images/Leather Chunky Loafers1.PNG', '/Images/Leather Chunky Loafers2.PNG'], 'Leather Chunky Loafers', '700 LE', 'dejavu','39')">
            <img src="/Images/Leather Chunky Loafers1.PNG" >
            <div class="product-details">
                <h2>Leather Chunky Loafers</h2>
                <p>Price: 700 LE</p>
                <p>Brand:dejavu </p>
                <p>Size: 39 </p>
                <a href="cart.html"><button>Add To Cart</button></a>
                <button class="favorite-btn">Add to Favorites</button>
            </div>
        </div>
        </div>
        <div class="filterDiv shoes">shoes
            <div class="product" onclick="showModal('/Images/Louis Vuitton Pool Pillow1.PNG', ['/Images/Louis Vuitton Pool Pillow1.PNG', '/Images/Louis Vuitton Pool Pillow2.PNG'], 'Louis Vuitton Pool Pillow', '10,000 LE', 'Louis Vuitton','38')">
                <img src="/Images/Louis Vuitton Pool Pillow1.PNG" >
                <div class="product-details">
                    <h2>Louis Vuitton Pool Pillow</h2>
                    <p>Price: 10,000 LE</p>
                    <p>Brand:Louis Vuitton </p>
                    <p>Size: 38 </p>
                    <a href="cart.html"><button>Add To Cart</button></a>
                    <a href="favorites.html"><button>Add To Favorites</button></a>
                </div>
            </div>
            </div>
        
            
            <div class="filterDiv shoes">shoes
                <div class="product" onclick="showModal('/Images/new vans.PNG', ['/Images/new vans.PNG', '/Images/new vans.PNG', '/Images/new vans.PNG'], 'new vans', '2,500 LE', 'black sneakers','44.5')">
                    <img src="/Images/new vans.png" >
                    <div class="product-details">
                        <h2>black sneakers</h2>
                        <p>Price: 2,500 LE</p>
                        <p>Brand:Vans </p>
                        <p>Size: 44.5 </p>
                        <a href="cart.html"><button>Add To Cart</button></a>
                        <a href="favorites.html"><button>Add To Favorites</button></a>
                    </div>
                </div>
                </div>
                <div class="filterDiv shoes">shoes
                    <div class="product" onclick="showModal('/Images/air jordan.PNG', ['/Images/air jordan.PNG', '/Images/air jordan.PNG'], 'air jordan', '4,375 LE', 'Nike','42.5')">
                        <img src="/Images/air jordan.png" >
                        <div class="product-details">
                            <h2> air jordan</h2>
                            <p>Price: 4,375 LE</p>
                            <p>Brand:Nike </p>
                            <p>Size: 42.5 </p>
                            <a href="cart.html"><button>Add To Cart</button></a>
                            <button class="favorite-btn">Add to Favorites</button>
                        </div>
                    </div>
                    </div>
                    <div class="filterDiv accessories">accessories
                        <div class="product" onclick="showModal('/Images/buckethat1.PNG', ['/Images/buckethat1.PNG','/Images/buckethat2.PNG'], ' satin bucket hat', '200 LE', 'lc waikiki')">
                            <img src="/Images/buckethat1.PNG" >
                            <div class="product-details">
                                <h2> satin bucket hat</h2>
                                <p>Price:200 LE</p>
                                <p>Brand:lc waikiki</p>
                                <a href="cart.html"><button>Add To Cart</button></a>
                                <button class="favorite-btn">Add to Favorites</button>
                            </div>
                        </div>
                        </div>
                  </div>
                
                    <div class="filterDiv accessories">accessories
                        <div class="product" onclick="showModal('/Images/versaceglass1.PNG', ['/Images/versaceglass1.PNG','/Images/versaceglass2.PNG'], 'Versace Glasses', '1,500 LE', 'versace')">
                            <img src="/Images/versaceglass1.PNG" >
                            <div class="product-details">
                                <h2>Versace Glasses</h2>
                                <p>Price: 1,500 LE</p>
                                <p>Brand:versace</p>
                        <a href="cart.html"><button>Add To Cart</button></a>
                                <button class="favorite-btn">Add to Favorites</button>
                            </div>
                        </div>
                        </div>
                
                    
                        
                    <div class="filterDiv accessories">accessories
                        <div class="product" onclick="showModal('/Images/guesswatch.PNG', ['/Images/guesswatch.PNG'], 'Guess Watch', '1,000 LE', 'guess')">
                            <img src="/Images/guesswatch.png" >
                            <div class="product-details">
                                <h2>Guess Watch </h2>
                                <p>Price: 1,000 LE</p>
                                <p>Brand:guess</p>
                                <a href="cart.html"><button>Add To Cart</button></a>
                                <a href="favorites.html"><button>Add To Favorites</button></a>
                            </div>
                        </div>
                        </div>
                  
                        
                    <div class="filterDiv accessories">accessories
                        <div class="product" onclick="showModal('/Images/lc wakiki bucket hat.PNG', ['/Images/lc wakiki bucket hat.PNG','/Images/lc wakiki bucket hat.PNG'], ' lc wakiki bucket hat', '94 LE', 'lc waikiki')">
                            <img src="/Images/lc wakiki bucket hat.png" >
                            <div class="product-details">
                                <h2>  bucket hat</h2>
                                <p>Price:94 LE</p>
                                <p>Brand:lc waikiki</p>
                                <a href="cart.html"><button>Add To Cart</button></a>
                                <button class="favorite-btn">Add to Favorites</button>
                            </div>
                        </div>
                        </div>
              
                        
                    <div class="filterDiv accessories">accessories
                        <div class="product" onclick="showModal('/Images/Ted baker cap.PNG', ['/Images/Ted baker cap.PNG','/Images/Ted baker cap.PNG'], 'white cap', '699 LE', 'Ted baker')">
                            <img src="/Images/Ted baker cap.png" >
                            <div class="product-details">
                                <h2> white cap</h2>
                                <p>Price: 699 LE</p>
                                <p>Brand:Ted baker</p>
                                <a href="cart.html"><button>Add To Cart</button></a>
                                <button class="favorite-btn">Add to Favorites</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="filterDiv sportsWear">sportsWear
                        <div class="product" onclick="showModal('/Images/biker short1.PNG', ['/Images/biker short1.PNG'], 'Biker Short', '250 LE', 'Shein','Large')">
                            <img src="/Images/biker short1.png" >
                            <div class="product-details">
                                <h2>Biker Short</h2>
                                <p>Price: 250 LE</p>
                                <p>Brand:Shein</p>
                                <p>Size: Large </p>
                                <a href="cart.html"><button>Add To Cart</button></a>
                                <button class="favorite-btn">Add to Favorites</button>
                            </div>
                        </div>
                        </div>
                        <div class="filterDiv sportsWear">sportsWear
                            <div class="product" onclick="showModal('/Images/nike leggings.PNG', ['/Images/nike leggings.PNG'], 'Nike Leggings', '1,100 LE', 'nike','xs/s')">
                                <img src="/Images/nike leggings.PNG" >
                                <div class="product-details">
                                    <h2>Nike Leggings</h2>
                                    <p>Price: 1,100 LE</p>
                                    <p>Brand:Nike</p>
                                    <p>Size: xs/s </p>
                                    <a href="cart.html"><button>Add To Cart</button></a>
                                    <button class="favorite-btn">Add to Favorites</button>
                                </div>
                            </div>
                            </div>
                            <div class="filterDiv sportsWear">sportsWear
                                <div class="product" onclick="showModal('/Images/Nike Joggers.PNG', ['/Images/Nike Joggers.PNG'], 'Nike Joggers', '875 LE', 'Nike','Medium/Large')">
                                    <img src="/Images/Nike Joggers.png" >
                                    <div class="product-details">
                                        <h2>nike Joggers</h2>
                                        <p>Price: 875 LE</p>
                                        <p>Brand:Nike</p>
                                        <p>Size: Medium/Large </p>
                                        <a href="cart.html"><button>Add To Cart</button></a>
                                        <button class="favorite-btn">Add to Favorites</button>
                                    </div>
                                </div>
                                </div>
                                <div class="filterDiv sportsWear">sportsWear
                                    <div class="product" onclick="showModal('/Images/adidas squadra.PNG', ['/Images/adidas squadra.PNG'], 'red t.shirt', '581 LE', 'Adidas','Large')">
                                        <img src="/Images/adidas squadra.png" >
                                        <div class="product-details">
                                            <h2>red t.shirt</h2>
                                            <p>Price: 581 LE</p>
                                            <p>Brand:Adidas</p>
                                            <p>Size: Large </p>
                                            <a href="cart.html"><button>Add To Cart</button></a>
                                            <button class="favorite-btn">Add to Favorites</button>
                                        </div>
                                    </div>
                                    </div>
                                    
                                
                      

  </div>
</body>
<script src="/Js/search.js"></script>

</html>