<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <link rel="stylesheet" href="/Css/viewusers.css">
</head>
<body>

    <div class="users">
            <div class="user">
                <div class="user-info">
                <p><span class="label">Email:</span> <span class="det">saraahmed@gmail.com</span></p>
                <p><span class="label">Username:</span> <span class="det">saraahmed</span></p>
                <p><span class="label">Address:</span> <span class="det">nasr city,building 4</span></p>
                <p><span class="label">Phone:</span> <span class="det">010134567890</span></p>
                <p><span class="label">Buy-Sell:</span> <span class="det">Buy</span></p>
                </div>
                <div class="buy-sell-info">
                    <img src="/Images/wjeans1.PNG" alt="Product img">
                    <div class="product-details">
                        <h4>Blue Denim</h4>
                        <p>Price: 500 LE</p>
                        <p>Brand: Zara</p>
                        <p>Size: 32 EUR </p>
                    </div>   
                </div>
            </div>

            <div class="user">
                <div class="user-info">
                <p><span class="label">Email:</span> <span class="det">ayaahmed@gmail.com</span></p>
                <p><span class="label">Username:</span> <span class="det">ayaahmed</span></p>
                <p><span class="label">Address:</span> <span class="det">masr el-gdida,building 4</span></p>
                <p><span class="label">Phone:</span> <span class="det">01234567890</span></p>
                <p><span class="label">Buy-Sell:</span> <span class="det">Sell</span></p>
                </div>
                <div class="buy-sell-info">
                    <img src="/Images/sellitem1.png" alt="Product img">
                    <div class="product-details">
                        <h4>pink hoodie</h4>
                        <p>Price:450 LE</p>
                        <p>Brand:shein</p>
                        <p>Size:medium </p>
                    </div>   
                </div>
                <div class="buy-sell-info">
                    <img src="/Images/sellitem2.png" alt="Product img">
                    <div class="product-details">
                        <h4>olive dress</h4>
                        <p>Price:800 LE</p>
                        <p>Brand:zara</p>
                        <p>Size:medium </p>
                    </div>   
                </div>
            </div>
    </div>
</body>
</html>