<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Css/category.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        </style>
    <title>Women Category</title>
</head>
<body>
 
    <div class="navbar">
        <a href="/" class="logo">
            <img src="/Images/logo.jpg" width="125px">
        </a>
        
        <div class="icons">
            <a href="#profile"><i class="far fa-user"></i></a>
            <a href="#Cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="#favorites"><i class="fas fa-heart"></i></a>
            <a href="search.html"><i class="fa fa-filter"></i>
        </div>
        
        <div class="search-bar">
            <form action="#">
                <input type="search" placeholder="Search..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <div class="categories">
            <a href="/categories" class="category">Women</a>
            <a href="/categories" class="category">Men</a>
            <a href="/categories" class="category">Girls</a>
            <a href="/categories" class="category">Boys</a>
            <a href="/categories" class="category">Baby</a>
            <a href="/categories" class="category">Home</a> 
        </div>
        </div>

    
        <hr>
        <div class="parent-container">
        <div class="selected-category">
            <video width="100%" autoplay loop muted>
                <source src="/Videos/womenvid.mp4" type="video/mp4">
    
            </video>
        </div>
    
        <div class="subcategories">
            <div class="subcategory"><a href="womanproducts.html?category=tops"><img src="/Images/topswomenFF.jpg" alt="tops"> <h2>Tops</h2> </div>
            <div class="subcategory"><a href="womanproducts.html?category=bottoms"><img src="/Images/bottomswomenFF.jpg" alt="bottoms">   <h2>Bottoms</h2> </div>
            <div class="subcategory"><a href="womanproducts.html?category=dresses"><img src="/Images/dressesFF.jpg" alt="dresses">   <h2>Dresses</h2>  </div>
            <div class="subcategory"><a href="womanproducts.html?category=jackets"><img src="/Images/jacketswomenFF.jpg" alt="jackets">  <h2>Jackets & Coats</h2> </div>
            <div class="subcategory"><a href="womanproducts.html?category=sportswear"><img src="/Images/sportswearFF.jpg" alt="sportswear"> <h2>SportsWear</h2> </div>
            <div class="subcategory"><a href="womanproducts.html?category=shoes"><img src="/Images/shoes2womenFF.jpg" alt="shoes">  <h2>Shoes</h2> </div>
            <div class="subcategory"><a href="womanproducts.html?category=bags"><img src="/Images/bagswomenFF.jpg" alt="bags"><h2>Bags</h2> </div>
            <div class="subcategory"><a href="womanproducts.html?category=accessories"><img src="/Images/accessoriesFF.jpg" alt="accessories"> <h2>Accessories</h2> </div>
           
        </div>
    
        
    </div>

<div class="landscape-rec  landscape-rec-1"> </div>


    
</body>
</html>
