body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: rgb(215, 214, 214);
    border-radius: 5px;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

.navbar a.category:hover {
    background-color: #ddd;
}

.selected-category {
    text-align: center;
    margin-top: 30px;
}

.logo {
    max-width: 200px;
    display: block;
    margin-right: auto;
    margin-left: 20px;
}

.logo:hover {
    transform: scale(1.05);
}

.search-bar {
    margin-right: 20px;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type=search] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-right: 5px;
    margin-top: 10px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: rgb(65, 65, 65);
    border: none;
    border-radius: 11px;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.categories {
    display: flex;
    justify-content: center; /* Centering categories */
    align-items: flex-end; /* Aligning categories to the bottom */
    position: absolute;
    bottom: 0; /* Align categories to the bottom of the navbar */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Move categories to center */
    width: 100%; /* Make categories span full width of navbar */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.product {
    display: inline-block;
    width: 250px;
    margin: 60px;
    text-align: center;
    cursor: pointer;
}
.product:hover img {
    transform: scale(1.1); 
}

.product img {
    width: 100%;
    height: 250px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border: 1px solid #ccc;
}

.product-details {
    padding: 10px;
}

.product h2 {
    margin-top: 0;
}

.product p {
    margin: 5px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color:#399b94;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    
}

button:hover {
    background-color: #88c6d4;
}
.product-details button {
    margin-top: 10px; /* Add margin to the top of the button */
}

.product-details button.favorite-btn {
    margin-left: 10px; /* Add margin to the left of the favorite button */
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px; /* Add padding */
    border: 1px solid #888;
    width: 300px; /* Set width */
    max-width: 90%; /* Set maximum width */
    text-align: center;
    position: relative;
    max-height: 90vh; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

#modal-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.thumbnails {
    margin-top: 10px;
}

.thumbnails img {
    width: 50px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
}

.thumbnails img:last-child {
    margin-right: 0;
}

.arrow-container {
    position: absolute;
    top: 50%;
    left: 100%;
    right: 50%;
    margin-top: -20px;
}

.prev, .next {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: -322px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
.close {
    cursor: pointer;
}
.product-details button {
    margin-top: 10px; /* Add margin to the top of the button */
}


/*remove func css*/

.confirmation-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.confirmation-message h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.confirmation-message button {
    padding: 10px 20px;
    background-color: #2596b5;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 150;
    font-size: 1em;
    margin-top: 10px;
}

.confirmation-message button:hover {
    background-color: #39bce0;
}


/* edit form css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Adjust the width as needed */
    max-width: 500px; /* Maximum width */
    position: relative; /* Added position relative */
}

/* Close Button */
.close {
    color: #aaa;
    position: absolute;
    top: 8px; /* Adjust top position as needed */
    right: 16px; /* Adjust right position as needed */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Save Button */
#save-button {
    margin-top: 20px; /* Adjust margin top as needed */
}
.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
    .product {
        width: calc(50% - 40px); /* Two products beside each other with 20px margin */
        margin: 20px 10px; /* Adjust margin as needed */
    }

    .modal-content {
        width: 80%; /* Adjust modal width for smaller screens */
        max-width: 400px; /* Adjust max-width as needed */
    }
}
