body {
    margin: 0;
    padding: 0;
    padding-bottom:50px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 5px;
}

.navbar {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
} 

.logo {
    max-width: 200px;
    display: block;
    margin-right: auto; 
    margin-left: 20px;
}

.logo :hover {
    transform: scale(1.05);
}


.icons {
   
    display: flex;
    align-items: center;
}

.icons a {
    color: black;
    font-size: 1.3em;
    padding-right: 20px;
}
.icons :hover {
    transform: scale(1.05);
}

.search-bar {
    margin-right: 20px; 
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type=search] {
    padding: 8px;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 8px;
    margin-right: 5px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #007bff;
    border: none;
    border-radius: 11px;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 80px 50px 50px;
    background-color: #ffffff;
}

.cart-details {
    width: 65%;
}

.order-summary {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 40px;
}

.info-banner {
    background-color: #f6eedf;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.items {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.product {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.product img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.product-details h2 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.product-details p {
    margin: 3px 0;
}

.quantity {
    margin-left: 20px;
}

.quantity select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order-summary h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.promo-code {
    display: flex;
    margin-bottom: 20px;
}

.promo-code input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.promo-code button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.promo-code button:hover {
    background-color: #555;
}

.summary-details {
    margin-bottom: 20px;
}

.summary-details p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.vat-info {
    font-size: 0.8rem;
    color: #777;
}

.checkout {
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.checkout:hover {
    background-color: #555;
}

.payment-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-options img {
    width: 50px;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .icons {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-bar {
        margin: 0 20px 10px;
        width: calc(100% - 40px);
    }

    .cart-container {
        flex-direction: column;
        padding: 100px 20px 20px;
    }

    .cart-details, .order-summary {
        width: 100%;
    }

    .order-summary {
        margin-top: 20px;
    }
}
