body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: rgb(215, 214, 214);
    border-radius: 5px;
}

.buttons-container {
    text-align: center;
    margin-top: 70px;
}

.buttons-container button {
    background-color: rgb(18, 125, 107); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.buttons-container button:hover {
    background-color:grey; /* Darker Green */
}




