body {
    font-family: Arial, sans-serif;
    background-image: url('sell\ background.jpg'); 
    background-size: cover; 
    background-position: center; /* Center the background */
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px; 
    border-radius: 10px; 
}

label, select, input, textarea {
    display: block;
    margin-bottom: 10px;
}

select, input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
