<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Profile</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/Css/profile.css" />
    <link rel="stylesheet" href="/Css/products.css" />
  </head>
  <body>
    <%- include("../components/UserNavBar.ejs")%>

    <section class="profile">
      <h1
        style="
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        "
      >
        Welcome Back!
      </h1>

      <div class="profile-options">
        <section class="my-orders" id="my-orders">
          <h2>
            <span><i class="fas fa-shopping-bag"></i></span>
            <a href="#">My orders</a>
          </h2>
          <div class="orders-container" id="history">
            <h1 style="display: block"><b>Previously Purchased</b></h1>
            <div class="order">
              <div
                class="product"
                onclick="showModal('/Images/StradivariosDenim.jpeg', ['/Images/StradivariosDenim.jpeg'], 'Stradivarius Denim', '550 LE', 'Stradivarius', 'Small')"
              >
                <img
                  src="/Images/StradivariosDenim.jpeg"
                  alt="Stradivarius Denim"
                />
                <div class="product-details">
                  <h2>Stradivarius Denim</h2>
                  <p>Price: 550 LE</p>
                  <p>Brand: Stradivarius</p>
                  <p>Size: Small</p>
                  <p>Date: 2024-04-17</p>
                  <p>Status: Delivered</p>
                </div>
              </div>
            </div>
            <div class="order">
              <div
                class="product"
                onclick="showModal('/Images/aldoBag.jpeg', ['/Images/aldoBag.jpeg'], 'Aldo Bag', '289 LE', 'ALDO', null)"
              >
                <img src="/Images/aldoBag.jpeg" alt="Aldo Bag" />
                <div class="product-details">
                  <h2>Aldo Bag</h2>
                  <p>Price: 289 LE</p>
                  <p>Brand: ALDO</p>
                  <p>Date: 2024-05-02</p>
                  <p>Status: Shipped</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="option">
          <h2>
            <span><i class="fas fa-address-book"></i></span>
            <a href="contactus.html">Contact Us</a>
          </h2>
        </div>
        <div class="option">
          <h2>
            <span><i class="fas fa-info-circle"></i></span>
            <a href="#" id="viewDetails">My Details</a>
          </h2>
        </div>
        <div class="option">
          <h2>
            <button onclick="window.location.href='/user/<%= user._id %>/sell'" class="sellButton">
              Sell Items
            </button>
          </h2>
        </div>
      </div>
    </section>
    <script src="/Js/profile.js"></script>
  </body>
</html>
