<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/category.css" />
    <link rel="icon" href="../favicon.png" type="image/png" />
    <title>Second Chance</title>
  </head>
  <body>
    <%- include("../components/UserNavBar.ejs")%>
    <div class="parent-container">
      <div class="selected-category">
        <video width="100%" autoplay loop muted id="selected-category-video">
          <source src="" type="video/mp4" />
        </video>
      </div>
      <div id="subcategories"></div>
    </div>
    <div class="landscape-rec defaultlandscape">
      <img id="landscape-image" src="/Images/landscapewmn.jpg" alt="landscape image" />
    </div>
    <script src="/js/shop.js"></script>
  </body>
</html>
